<!--  DRAWER  STARTS  -->
<mat-drawer #drawer class="left-sidenav" mode="push">
    <p>Admin Menu</p>
    <button mat-menu-item routerLink="users"> Users </button>
    <mat-divider></mat-divider>
    <button mat-menu-item> Messages </button>
    <mat-divider></mat-divider>
    <button mat-menu-item> Events </button>
    <mat-divider></mat-divider>
    <button mat-menu-item> Settings </button>
    <mat-divider></mat-divider>
    <button mat-menu-item> Help </button>
    <mat-divider></mat-divider>
</mat-drawer>
<!--  DRAWER  ENDS  -->
