mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}
.signin-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
}

.mat-card-home {
  max-width: 60%;
  height: 600px;
  margin: 2em auto;
  text-align: center;
}
h1 {
	color: blue;
	padding: 10px;
}