.mat-table {
  overflow: auto;
  max-height: 500px;
  margin-top:20px;
}
button {
	background: blue;
	text-align: center;
	color: white;
	height: 35px;
	margin-bottom: 30px;
	font-size: 22px;
	float: right;
}